<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="HiveMQtt.log" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <!-- minlevel can be Debug, Info, Warn, Error and Fatal or Trace -->
    <!-- writeTo can instead be "logfile" to write to HiveMQtt.log if preferred -->
    <logger name="HiveMQtt.*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>

